body{
   
 /* background-color: rgb(0, 0, 0);*/
background-image: url(kaybalck);
    text-align: center;
    background-image: url(liriooo.gif);
    background-size: 100%;
}
.kayblack{
    width: 25%; 
    background-color: rgba(213, 210, 210, 0.733); 
    margin: auto;
    border-radius: 40px;
    border-style: groove;
    margin-top: 45px;
}
img{
    margin-top: 40px;
    width: 175px;
}
p ,h1 ,h2 ,h3 ,i{
    color: rgb(0, 0, 0);
}
a{
   color: rgb(120, 105, 105);
}